source/Shackleton.DB.Migrations.Tests/bin/
source/Shackleton.DB.Migrations.Tests/obj/
source/Shackleton.DB.Migrations/bin/
source/Shackleton.DB.Migrations/obj/
source/Shackleton.DB.Tests/bin/
source/Shackleton.DB.Tests/obj/
source/Shackleton.DB/bin/
source/Shackleton.DB/obj/
source/Shackleton.Logic.Tests/bin/
source/Shackleton.Logic.Tests/obj/
source/Shackleton.Logic/bin/
source/Shackleton.Logic/obj/
source/Shackleton.Repositories.Tests/bin/
source/Shackleton.Repositories.Tests/obj/
source/Shackleton.Repositories/bin/
source/Shackleton.Repositories/obj/
source/Shackleton.Tests.Common/bin/
source/Shackleton.Tests.Common/obj/
source/Shackleton.Web/bin/
source/Shackleton.Web/obj/
source/_NCrunch_Shackleton/Shackleton.crunchsolution.cache
source/packages/
source/Shackleton.v11.suo
source/Shackleton.ncrunchsolution.user
source/Shackleton.Data.Tests/bin/
source/Shackleton.Data.Tests/obj/
source/Shackleton.Data/bin/
source/Shackleton.Data/obj/
source/Shackleton.Web.Tests/bin/
source/Shackleton.Web.Tests/obj/
bin/
*.DotSettings
*.DotSettings.user
source/_ReSharper.Shackleton/
nunit-result.xml
source/Index.dat
source/Storage.dat
source/Shackleton.DB.Migrations/Shackleton.DB.Migrations.csproj.user
source/Shackleton.Infrastructure.Tests/obj/Debug/Shackleton.Infrastructure.Tests.csproj.FileListAbsolute.txt
source/Shackleton.Infrastructure.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
source/Shackleton.Infrastructure.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
source/Shackleton.Infrastructure.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
source/Shackleton.Infrastructure/obj/Debug/Shackleton.Infrastructure.csproj.FileListAbsolute.txt
source/Shackleton.Infrastructure/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
source/Shackleton.Infrastructure/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
source/Shackleton.Infrastructure/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
source/Shackleton.Infrastructure.Tests/obj/
source/Shackleton.Infrastructure/obj/
source/$tf/
source/BuildProcessTemplates/
*.swp
*.bak
*.suo
source/Utils/obj/
source/Utils.Tests/obj/
source/Shackleton.Web.Tests/Scripts/tests/_Chutzpah*
source/TestResults/Shackleton_Endurance.TE.Tests.mdf
source/TestResults/Shackleton_Endurance.TE.Tests_log.ldf
source/Shackleton.DailyReporter.Console.Tests/obj/
source/Shackleton.DailyReporter.Console/obj/
source/buildreports/
source/node_modules/
source/test-results.xml
source/Backup2/
# Visual Studio 2015 cache/options directory
.vs/
*.user
/source/UpgradeLog.htm
/source/Shackleton.DailyQaReporter.Endurance.Tests/obj/
/source/Shackleton.DailyQaReporter.Endurance/obj
package-lock.json
/source/Shackleton.Web/Shackleton.Web.csproj.user
obj/
